@charset "UTF-8";

/* Make extensions toolbar feel differently */
/* That strange class test is to avoid any other classes (ext. ID) */
.toolbar-extensions > [class="button-toolbar"] {
  order: -1;
}
/* Remove the separator displayed left of first extension button */
.toolbar .profile-popup + .toolbar-extensions .button-toolbar:not(.button-narrow):first-of-type {
  margin-left: 0;
}
.toolbar .profile-popup + .toolbar-extensions .button-toolbar:not(.button-narrow):first-of-type:before {
  content: unset;
}
