@charset "UTF-8";

/* Allows you to vertically scroll panel and use more panels than fit in the switch */
#panels-container #switch {
  overflow: scroll;
}
#panels-container #switch::-webkit-scrollbar {
  display: none;
}
#panels-container #switch .addwebpanel-wrapper {
  order: -1;
  overflow: visible;
}
.addwebpanel-wrapper .addwebpanelcallout {
    min-height: 0;
    height: 64px;
    min-width: 34px;
    width: 34px;
    padding: 0;
    position: unset;
}
.addwebpanel-wrapper .webpanel-suggestions {
    display: none;
}
.addwebpanel-wrapper .addwebpanelcallout form header {
    display: none;
}
.addwebpanel-wrapper button.add {
    margin: 6px auto 0 auto;
}
.addwebpanel-wrapper .addwebpanelcallout form .urlfield > input {
    width: 34px;
    padding-left: 0;
    padding-right: 0;
}
.addwebpanel-wrapper .addwebpanelcallout form .webpanel-input {
    flex-direction: column;
}
