.find-in-page + .devtools-container { order: 0; }
.find-in-page { order: 1; }


.bookmark.manager .vivaldi-tree .tree-row label:nth-of-type(3),
.bookmark.manager .sortselector.sortselector-tableheader label:nth-of-type(3),
.bookmark.manager .vivaldi-tree .tree-row label:nth-of-type(4),
.bookmark.manager .sortselector.sortselector-tableheader label:nth-of-type(4) { display: none; }
.manager-editor .lower-half > div:nth-of-type(2) { display: none !important; }

/* Scrollbar Corner Fix */
#browser:not(.mac) ::-webkit-scrollbar-corner {
  background-color: var(--colorBg);
  background-clip: padding-box;
}