@charset "UTF-8";

/* Speed dial auto-columns */
/* It is recommended to use custom
 thumbnail size or set titles
 to hidden — they are displayed
 over the thumbnail below */
.dials {
  margin: 0 !important;
}
.dial-columns {
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  text-align: center;
}
.speeddial .dial {
  position: initial !important;
  transform: none !important;
  display: inline-block !important;
  /* Uncomment if you want */
  /*margin: 10px;*/
  vertical-align: top;
  /* You can also add height and width
   — I removed them since we have
   the choice of thumbnails size */
}
