#browser.theme-light {
  background: url("../resources/old_bg_alt_4.jpg");/*0,3,4,7*//*1,4,5*/
  background-size: cover;
  backdrop-filter: blur(10px);
}
#browser.theme-dark {
  background: url("chrome://vivaldi-data/local-image/d6cb4c13-0d5c-4150-929e-05e7b2dee70f");/*../resources/(old_)bg_alt_x.jpg*//*2,6,7*//*1,2,4,5*//*wallpapers/green-wallpaper-11-jpg*/
  background-size: cover;
  backdrop-filter: blur(10px);
}
.notes-cardwrapper {
  backdrop-filter: blur(2px);
}
#tabs-container /*#main, /*.inner,
/*.vivaldi-settings .settings-content,
/*.startpage, .startpage .manager,*/ /*header*/ {
  /*background: transparent !important;*/
  background: var(--colorBgAlphaHeavier) !important;
  background-color: var(--colorBgAlphaHeavier) !important;
}
.mosaic, .startpage, .startpage .manager,
.vivaldi-settings .settings-content,
.inner, #main, .panel-group, .notes-editor, .toolbar {
  background: transparent !important;
  /*background-image: none !important;*/
  background-color: transparent !important;
}
.tab.active, .toolbar-addressbar, #switch,
.toolbar-statusbar, .vivaldi-settings,
.vivaldi-settings .settings-sidebar, .startpage .manager > div,
.addressfield, #header, .welcome-wrapper, .notes-cardwrapper,
#browser.address-bottom:not(.color-behind-tabs-on) .toolbar-statusbar,
#browser.address-bottom.color-behind-tabs-on .toolbar-statusbar {
  background:  var(--colorBgAlphaHeavy) !important;
  background-color:  var(--colorBgAlphaHeavy) !important;
}
.vivaldi-tree, .panel > header {
  background-color: var(--colorBgAlpha) !important;
}
.private-intro, #notes-panel .no-notes {
  background: var(--colorBgAlphaHeavy);
}
.private .toolbar-addressbar .addressfield,
.private .toolbar-addressbar .searchfield {
  border-color: var(--colorBgIntenser) !important;
  color: var(--colorFg) !important;
  fill: var(--colorFg) !important;
}

#webview-container {
    margin: 50px;
}
#webpage-stack {
    border-radius: var(--radius);
}