/* Hide an extension icon (use extension ID instead of pkehgijcmpdhfbdbbnkijodmdjhbjlgp) */
/*.toolbar-extensions div.pkehgijcmpdhfbdbbnkijodmdjhbjlgp {
  display: none;
}*/

/* Thinner extension toggle button */
.toolbar-extensions .button-toolbar.button-narrow,
.toolbar-extensions .button-toolbar.button-narrow button {
  margin-left: 0 !important;
  min-width: auto !important;
  width: auto !important;
}

/* .toolbar-addressbar svg {
  fill: var(--colorFg) !important;
  stroke: var(--colorFg);
  stroke-width: 0;
} */

/* No border for addressbar */
.address-bottom .toolbar-addressbar {
  box-shadow: none !important;
}
.address-top .toolbar-mainbar:after,
.address-top .toolbar-addressbar:after {
  display: none !important;
}

/* Display siteinfo text only on hover */
.SiteInfoButton:not(:hover) .siteinfo-text {
  display: none;
}

/* Change colors of siteinfo */
.SiteInfoButton.secure,
.SiteInfoButton.secure:hover,
.SiteInfoButton.secure:focus,
.SiteInfoButton.secure:active,
.SiteInfoButton.secure:focus:not([tabindex="-1"]),
.SiteInfoButton.certified,
.SiteInfoButton.certified:hover,
.SiteInfoButton.certified:focus,
.SiteInfoButton.certified:active,
.SiteInfoButton.certified:focus:not([tabindex="-1"]) {
  fill: currentColor;
  color: var(--colorFgFadedMore); /* #55cc44e6 */
  background-color: transparent;
  border: none;
}

/* Monospace addressfield and searchfield */
input.url.vivaldi-addressfield,
input.searchfield-input.vivaldi-searchfield {
  font-family: 'Hack', monospace !important;
}

/* Make extensions toolbar feel differently */
.toolbar-extensions div.button-narrow {
  order: -1;
}

/* Same colour for addressbar and bookmark bar */
.color-behind-tabs-off .bookmark-bar, .color-behind-tabs-off .bookmark-bar button {
  border: none !important;
  background-color: var(--colorAccentBg) !important;
}
.color-behind-tabs-on .bookmark-bar, .color-behind-tabs-on .bookmark-bar button {
  border: none !important;
  background-color: var(--colorBg) !important;
}

/* Show only address when not focused-within */
.toolbar.toolbar-addressbar:not(:focus-within) {
    height: 20px;
}
.toolbar.toolbar-addressbar:not(:focus-within) > :not(.addressfield) {
    display: none;
}
.toolbar.toolbar-addressbar:not(:focus-within) .addressfield {
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    font-size: 12px;
}
.toolbar.toolbar-addressbar:not(:focus-within) .addressfield > :not(form) {
    display: none;
}
.toolbar.toolbar-addressbar:not(:focus-within) .addressfield > form {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.toolbar.toolbar-addressbar:not(:focus-within) .addressfield > form * {
    height: 100%;
}