.toolbar-addressbar .toolbar .button-toolbar[title="Go to homepage"] button svg path {
  /*M1014 1934C840 1804 713 1633 647 1440c-46 -135 -52 -177 -51 -350 0 -139 4 -179 23 -254 32 -124 72 -220 94 -224 15 -3 17 7 17 107 0 206 41 323 159 451l41 45 49 -53c120 -131 177 -358 151 -608 -13 -136 -40 -277 -76 -413 -40 -149 -19 -145 100 19 201 278 291 621 242 920 -28 170 -67 265 -212 515 -96 165 -99 174 -99 283 1 62 -3 92 -11 92 -6 0 -33 -16 -60 -36z*/
  /* 3 squares */ /*d: path('M25 7.813l-12.5-6.25-12.5 6.25 12.5 6.25 12.5-6.25zM12.5 3.637l8.351 4.176-8.351 4.176-8.351-4.176 8.351-4.176zM22.496 11.248l2.504 1.252-12.5 6.25-12.5-6.25 2.504-1.252 9.996 4.998zM22.496 15.936l2.504 1.252-12.5 6.25-12.5-6.25 2.504-1.252 9.996 4.998z');*/
  /* big BunsenLabs */ /*d: path('m 604.31156,-53.412979 c -21.7398,-44.604589 -14.15828,-108.821881 38.89221,-142.004201 -2.08604,6.10353 -1.4025,16.28152 1.56253,23.8817 8.13219,18.75762 24.28617,34.68283 30.20114,64.94532 C 683.15494,-64.234576 667.64657,-23.776751 640,8.0719589 653.85496,-36.992215 660.86195,-91.955723 627.6715,-118.95676 c -23.22975,20.835746 -24.11238,40.23574 -23.35994,65.543781 z');*/
  /* small BunsenLabs */ /*d: path('M10.14 0.66 C8.40 1.96 7.13 3.67 6.47 5.60 c-0.46 1.35 -0.52 1.77 -0.51 3.50 c0 1.39 0.04 1.79 0.23 2.54 c0.32 1.24 0.72 2.20 0.94 2.24 c0.15 0.03 0.17 -0.07 0.17 -1.07 c0 -2.06 0.41 -3.23 1.59 -4.51 l0.41 -0.45 l0.49 0.53 c1.20 1.31 1.77 3.58 1.51 6.08 c-0.13 1.36 -0.40 2.77 -0.76 4.13 c-0.40 1.49 -0.19 1.45 1.00 -0.19 c2.01 -2.78 2.91 -6.21 2.42 -9.20 c-0.28 -1.70 -0.67 -2.65 -2.12 -5.15 c-0.96 -1.65 -0.99 -1.74 -0.99 -2.83 c0.01 -0.62 -0.03 -0.92 -0.11 -0.92 c-0.06 0 -0.33 0.16 -0.60 0.36z');*/
  /* BunsenLabs */ /*d: path('M13.182 0.858 C10.92 2.548 9.269 4.771 8.411 7.28 c-0.598 1.755 -0.676 2.301 -0.663 4.55 c0 1.807 0.052 2.327 0.299 3.302 c0.416 1.612 0.936 2.86 1.222 2.912 c0.195 0.039 0.221 -0.091 0.221 -1.391 c0 -2.678 0.533 -4.199 2.067 -5.863 l0.533 -0.585 l0.637 0.689 c1.56 1.703 2.301 4.654 1.963 7.904 c-0.169 1.768 -0.52 3.601 -0.988 5.369 c-0.52 1.937 -0.247 1.885 1.30 -0.247 c2.613 -3.614 3.783 -8.073 3.146 -11.96 c-0.364 -2.21 -0.871 -3.445 -2.756 -6.695 c-1.248 -2.145 -1.287 -2.262 -1.287 -3.679 c0.013 -0.806 -0.039 -1.196 -0.143 -1.196 c-0.078 0 -0.429 0.208 -0.78 0.468z');*/
  /* Sthomehenge */ /*d: path('M 4 6 h 18 v 2.5 h -3.5 v 11.5 h -2.5 v -9.5 h -6 v 9.5 h -2.5 v -11.5 h -3.5 Z');*/
  /* Bridge */ /*d: path('M0 16c1 0, 3 -1, 4 -4c1 -3, 6 -5, 7 -5, c1 -0.25, 3 -0.25, 4 0, c1 0, 6 2, 7 5c1 3, 3 4, 4 4, v1h-5, v-3c0 -3, -4 -3, -4 0v3, h-1v-5c0 -4, -6 -4, -6 0v5h-1, v-3c0 -3, -4 -3, -4 0v3, h-5v-1z');*/
  /* Tree */ /*d: path('M13 1l5 6h-2l4 6h-3l5 6h-3l5 6h-22l5 -6h-3l5 -6h-3l4 -6h-2l5 -6z');*/
  /* Arrow */ /*d: path('M0 0l8 3l-4.5 0l15 15h4l0.5 0.5h-4l0.5 0.5h4l0.5 0.5h-4l0.5 0.5h4l0.5 0.5h-4l0.5 0.5h4l0.5 0.5h-4l0.5 0.5 -0.5 0.5l-0.5 -0.5v4l-0.5 -0.5v-4l-0.5 -0.5v4l-0.5 -0.5v-4l-0.5 -0.5v4l-0.5 -0.5v-4l-0.5 -0.5v4l-0.5 -0.5v-4l-15 -15l0 4.5l-3 -8z');*/
  /*stroke: var(--colorFg) !important;*//*#15839f */
  stroke-width: 0px !important;
  /*fill: transparent !important;*/
}
/* Title: en_GB: "Add bookmark", "Edit bookmark"
          cs   : "Přidat záložku", "Upravit záložku" */
path.bookmark-outline, clipPath#addBookmarkPath path {
  d: path('M10.325 0.875c-1.472 0-2.738 1.197-3.325 2.447-0.587-1.25-1.854-2.447-3.325-2.447-2.029 0-3.675 1.647-3.675 3.675 0 4.127 4.163 5.209 7 9.289 2.682-4.055 7-5.294 7-9.289 0-2.029-1.647-3.675-3.675-3.675z');
}
button.button-on path.bookmark-outline {
  fill: var(--colorFg)/*rgb(218, 93, 93)*/;
}
/*button.button-on:hover path.bookmark-outline {
  fill: rgb(234, 64, 64);
}*/
.add-bookmark-shadow, .bookmark-animated-fill {
  display: none;
}
button:not(.button-on) path.bookmark-outline {
  fill: transparent !important;
  stroke: var(--colorFg)!important;
  stroke-width: 2px;
}
.bookmarks svg path {
  d: path('M10.325 0.875c-1.472 0-2.738 1.197-3.325 2.447-0.587-1.25-1.854-2.447-3.325-2.447-2.029 0-3.675 1.647-3.675 3.675 0 4.127 4.163 5.209 7 9.289 2.682-4.055 7-5.294 7-9.289 0-2.029-1.647-3.675-3.675-3.675z');
  transform: translate(6px,8px);
}
.notes svg path {
  d: path('m23.90625,3.96875c-1.04688,0 -2.09375,0.40625 -2.90625,1.21875l-15.8125,15.8125l-0.0625,0.3125l-1.09375,5.5l-0.3125,1.46875l1.46875,-0.3125l5.5,-1.09375l0.3125,-0.0625l15.8125,-15.8125c1.625,-1.625 1.625,-4.1875 0,-5.8125c-0.8125,-0.8125 -1.85938,-1.21875 -2.90625,-1.21875zm0,1.90625c0.50391,0 1.01172,0.23047 1.5,0.71875c0.97266,0.97266 0.97266,2.02734 0,3l-0.71875,0.6875l-2.96875,-2.96875l0.6875,-0.71875c0.48828,-0.48828 0.99609,-0.71875 1.5,-0.71875zm-3.59375,2.84375l2.96875,2.96875l-12.09375,12.09375c-0.65625,-1.28125 -1.6875,-2.3125 -2.96875,-2.96875l12.09375,-12.09375zm-13.375,13.71875c1.19922,0.48438 2.14063,1.42578 2.625,2.625l-3.28125,0.65625l0.65625,-3.28125z');
  transform: scale(0.68,0.68) translate(3px,4px);
}
.toggle-trash svg path:first-of-type {
  d: path('M 6 8 h14 v2 h-14 Z M 6 12 h14 v2 h-14 Z M 9 16 h8 v2 h-8 Z');
}
.toggle-trash svg path:not(:first-of-type) { display: none; }
.toggle-trash svg path {
  background-color: var(--colorBg) !important;
  border-radius: 100px !important;
}
/*button.history svg {
  width: 20px !important;
  height: 20px !important;
}
button.history svg path {
  d: path("M 8.781581,14.47988 C 6.6620045,12.947464 7.3365996,9.785073 9.073897,8.2662064 11.772222,5.9071434 15.927146,6.886418 17.967017,9.5986587 20.670746,13.193579 19.366315,18.333639 15.78286,20.800117 11.367259,23.839357 5.2550743,22.235858 2.3823686,17.880477 -1.0094653,12.738033 0.88759454,5.7460683 5.9943372,2.5128668 11.856583,-1.1986601 19.737812,0.96376425 23.336278,6.7453875 26.617803,12.017785 25.71839,18.985111 21.471226,23.452311");
  fill: none;*/
  /* stroke: var(--colorFgFaded); */
  /*stroke-width: 2px;
}*/
/*button.history svg rect {
  display: none;
}*/
.button-toolbar[title="Reload current page"] button svg path {
  d: path("M 4.8051075,12.752007 C 4.9616095,9.6188998 6.8053723,6.5162891 9.9437768,5.2746979 14.168552,3.6033253 19.053931,5.7190012 20.725304,9.9437763 22.396676,14.168551 20.281,19.053931 16.056225,20.725303 13.883484,21.584866 11.738591,21.456214 9.7170543,20.580762 L 11.185489,18.75127 3.4561349,18.869667 7.7599627,25.425641 8.6227394,23.107682 C 11.149659,24.201998 14.282768,24.358499 17.059048,23.260168 22.732318,21.015754 25.504583,14.614222 23.260169,8.9409529 21.015754,3.2676842 14.614222,0.49541735 8.9409529,2.739832 4.3540548,4.5544648 1.7329938,9.2209816 2.0288268,13.850338 Z");
}
.button-toolbar[title="Stop"] button svg path {
  d: path("M 23.439041,1.3939595 20.128745,4.7042559 C 19.305582,4.0028256 18.360183,3.4227985 17.301445,3.0039494 11.957879,0.88996991 5.9288141,3.4995455 3.8148344,8.8431079 2.3631285,12.512627 3.139906,16.507247 5.4994337,19.333567 L 1.3939595,23.439041 3.4751659,25.520247 7.6945174,21.300895 C 8.2984892,21.704171 8.9508599,22.053514 9.6539931,22.331682 12.268925,23.366183 15.219814,23.219074 17.599882,22.188354 L 18.412731,24.369693 22.467157,18.194794 15.18686,18.084843 16.569096,19.806746 C 14.665042,20.631323 12.64486,20.75379 10.598389,19.944184 10.234534,19.800238 9.8950691,19.621551 9.5656399,19.429773 L 20.162122,8.8332909 C 20.768676,9.9434019 21.134288,11.181999 21.196836,12.434171 L 23.812087,13.468884 C 23.959543,11.1614 23.331121,8.8467024 22.072512,6.9229004 L 25.520247,3.475166 Z M 13.311812,4.8534743 C 14.327379,4.8258582 15.362236,4.9978871 16.357049,5.3914466 17.078278,5.6767739 17.724249,6.0690939 18.294927,6.5380735 L 7.3450318,17.487969 C 5.6937454,15.36358 5.1532654,12.441224 6.2023317,9.7894678 7.3830134,6.805028 10.265111,4.9363229 13.311812,4.8534743 Z");
}
/*.application-icon svg path {
  d: path("M 20.354173,4.8706031 13.176735,17.314938 A 2.3924794,2.3924794 0 0 1 11.197345,18.623057 2.289207,2.289207 0 0 1 8.9253504,17.418211 C 7.4106864,14.819187 5.913236,12.254586 4.4157847,9.603925 L 1.6618517,4.8361788 A 2.4096915,2.4096915 0 0 1 3.6240292,1.2044288 2.3064192,2.3064192 0 0 1 5.8615998,2.4436986 L 7.8754144,5.8861161 C 8.3573509,6.7122966 8.822078,7.6073245 9.3212281,8.3818671 A 3.7866581,3.7866581 0 0 0 12.488252,10.344045 3.8555065,3.8555065 0 0 0 16.550304,6.9016304 V 6.5057509 A 4.0276272,4.0276272 0 0 0 16.137214,4.7845429 2.4096915,2.4096915 0 1 1 20.646777,3.2870915 2.512964,2.512964 0 0 1 20.354173,4.8706031 Z") !important;
  fill: var(--colorFg);
}*/
.application-icon svg path[d="M16.42 8.64l-4.17 7.23a1.39 1.39 0 0 1-1.15.76 1.33 1.33 0 0 1-1.32-.7c-.88-1.51-1.75-3-2.62-4.54l-1.6-2.77A1.4 1.4 0 0 1 6.7 6.51a1.34 1.34 0 0 1 1.3.72l1.17 2c.28.48.55 1 .84 1.45a2.2 2.2 0 0 0 1.84 1.14 2.24 2.24 0 0 0 2.36-2v-.23a2.34 2.34 0 0 0-.24-1 1.4 1.4 0 1 1 2.62-.87 1.46 1.46 0 0 1-.17.92z"] {
  fill: var(--colorAccentBg) !important;
}
.application-icon svg path[d="M11 20c3.94 0 6.14 0 7.57-1.43S20 14.94 20 11s0-6.14-1.43-7.57S14.94 2 11 2 4.86 2 3.43 3.43 2 7.06 2 11s0 6.14 1.43 7.57S7.06 20 11 20"] {
  fill: var(--colorFg) !important;
}
.toolbar-extensions .button-toolbar.button-narrow button svg {
  width: 16px;
  height: 16px;
}
.toolbar-extensions .button-toolbar.button-narrow button svg path {
  d: path("M9.75,0h1.625v26h-1.625v-26zm3.25,0h1.625v26h-1.625v-26z");
}
.window-buttongroup .window-minimize svg path { d: path('M0 5h10v1h-10v-1z'); }
.window-buttongroup .window-maximize svg .window-maximize-glyph path {
  d: path("M0 0h10v10h-1v-9H0V0zM0 1h1v8h8v1H0V1z");/*M0 0h10v10h-1v-9H0V0zM0 1h1v8h8v1H0V1z*/
}
.window-buttongroup .window-maximize svg .window-restore-glyph path {
  d: path("M0 2h8v8h-1v-7h-7v-1zm2 -2h8v8h-2v-1h1v-6h-6v1h-1v-2zM0 3h1v6h6v1H0V3z");/*M0 3h7v7h-1v-6H0V3zM0 4h1v5h6v1H0V4zM2 0h8v8h-2v-1h1V1H3v2h-1V0z*//*M0 3h7v7h-1v-6H0V3zM0 4h1v5h6v1H0V4zM2 0h8v8h-2v-1h1V1H3v2h-1V0z*/
}
.window-buttongroup .window-close svg path {
  d: path("M0 0h1l9 9v1h-1l-9 -9v-1zM10 0v1l-9 9h-1v-1l9 -9h1z");
}


.toolbar-addressbar.toolbar .button-toolbar[title*="Rewind"] button svg path {
  d: path('M0 7l8 -3.875, -3.5 3.5h12.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5v0.75l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-12.5l3.5 3.5, -8 -3.875zM0 19l8 -3.875, -3.5 3.5h12.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5v0.75l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-12.5l3.5 3.5, -8 -3.875z');
}
.button-toolbar[title*="Go to previous page"] button svg path {
  d: path('M0 13l8 -3.875, -3.5 3.5h12.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5v0.75l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-12.5l3.5 3.5, -8 -3.875z');
}
.button-toolbar.reload:not(.loading) svg path {
  /*d: path('');*/
}
.button-toolbar[title*="Go to next page"] button svg path {
  d: path('M26 13l-8 -3.875, 3.5 3.5h-12.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5v0.75l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h12.5l-3.5 3.5, 8 -3.875z');
}
.toolbar-addressbar.toolbar .button-toolbar[title*="Fast Forward"] button svg path {
  d: path('M26 7l-8 -3.875, 3.5 3.5h-12.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5v0.75l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h12.5l-3.5 3.5, 8 -3.875zM26 19l-8 -3.875, 3.5 3.5h-12.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5h-0.5l-3.5 -3.5h-0.5l3.5 3.5v0.75l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h0.5l-3.5 3.5h0.5l3.5 -3.5h12.5l-3.5 3.5, 8 -3.875z');
}
.toolbar-addressbar .toolbar .button-toolbar[title="Go to homepage"] button svg path {
  d: path('M6 6c1 2 1 12 0 14c2 -1 12 -1 14 0c-1 -2 -1 -12 0 -14c-2 1 -12 1 -14 0zm1 1c2 1 10 1 12 0c-1 2 -1 10 0 12c-2 -1 -10 -1 -12 0c1 -2 1 -10 0 -12zm12 0c14 1 -1 -14 0 0m0 12c-1 14 14 -1 0 0m-12 0c-14 -1 1 14 0 0m0 -12c1 -14 -14 1 0 0zm13 -1c-0.5 -9.5 9.5 0.5 0 0m0 14c9.5 -0.5 -0.5 9.5 0 0m-14 0c0.5 9.5 -9.5 -0.5 0 0m0 -14c-9.5 0.5 0.5 -9.5 0 0z');
}
/*.toolbar-addressbar.toolbar .button-toolbar.rewind, .toolbar-addressbar.toolbar .button-toolbar.next { min-width: 34px !important; }*/

#titlebar .vivaldi .application-icon svg path:first-of-type {
  d: path('M18.6 3.4C17.1 2 14.9 2 11 2S4.9 2 3.4 3.4C2 4.9 2 7.1 2 11s0 6.1 1.4 7.6C4.9 20 7.1 20 11 20s6.1 0 7.6-1.4C20 17.1 20 14.9 20 11s0-6.1-1.4-7.6zm-2.2 5.2l-4.2 7.2c-.3.4-.6.7-1.1.8-.6 0-1-.2-1.3-.7-.9-1.5-1.7-3-2.6-4.5-.5-.9-1.1-1.8-1.6-2.8-.6-.9 0-2 1.1-2.1.6 0 1 .2 1.3.7.4.7.8 1.3 1.2 2 .3.5.6 1 .8 1.5.4.7 1 1.1 1.8 1.1 1.2.1 2.2-.8 2.4-2v-.2c0-.4-.1-.7-.2-1-.4-.9 0-1.8 1-2 .8-.2 1.6.4 1.7 1.2 0 .2-.1.5-.3.8z');
  fill: inherit/*var(--colorFg)*/ !important;
}
#titlebar .vivaldi .application-icon svg path:last-of-type {
  display: none;
}