/*#panels-container #panels #switch .preferences { display: none; }*/

#switch button svg {
  stroke: var(--colorFgFaded);
  stroke-width: 0;
}

/*:not(.color-behind-tabs) #panels-container #panels #switch { box-shadow: none !important; background-color: var(--colorBg) !important; }
:not(.color-behind-tabs) #switch button.active { background-color: var(--colorAccentBg) !important; }
.color-behind-tabs #panels-container #panels #switch { box-shadow: none !important; background-color: var(--colorAccentBg) !important; }
.color-behind-tabs #switch button.active { background-color: var(--colorBg) !important; }*/

#panels-container.left #switch, #panels-container.right #switch { box-shadow: none !important; }
#switch > button.active { border: none !important; }

#switch button.webviewbtn img { background-color: transparent !important; }

#notes-panel .notes-editor .notes-cardwrapper.cardview textarea.note.editor { font-family: 'Hack', monospace !important; }

#panels-container:after { display: none; }
#panels .panel-group .panel-collapse-guard .panel:not(.webpanel) header h1 { display: none; }

#notes-panel .notes-editor .notes-cardwrapper.cardview div.note.md { font-family: 'Hack', monospace !important; }

#notes-panel .notes-editor .notes-cardwrapper.cardview .meta-data-wrapper .dateCreated { display: none; }

#notes-panel header { display: none; }
#notes-panel .sortselector.sortselector-compact {
  border-width: 0px/* 0px 1px 0px*/ !important;
  background-color: var(--colorBgLight) !important;
}

#panels-container #switch {
  overflow: scroll;
}
#panels-container #switch::-webkit-scrollbar {
  display: none;
}
#panels-container #switch .addwebpanel-wrapper {
  order: -1;
  overflow: visible;
}
.addwebpanel-wrapper .addwebpanelcallout {
    min-height: 0;
    height: 64px;
    min-width: 34px;
    width: 34px;
    padding: 0;
    position: unset;
}
.addwebpanel-wrapper .webpanel-suggestions {
    display: none;
}
.addwebpanel-wrapper .addwebpanelcallout form header {
    display: none;
}
.addwebpanel-wrapper button.add {
    margin: 6px auto 0 auto;
}
.addwebpanel-wrapper .addwebpanelcallout form .urlfield > input {
    width: 34px;
    padding-left: 0;
    padding-right: 0;
}
.addwebpanel-wrapper .addwebpanelcallout form .webpanel-input {
    flex-direction: column;
}


/*.panel#downloads {
  height: 300px;
  overflow-y: hidden; /* hide the info area part that is outside the panel */
  /* move it to bottom */
  /*position: absolute;
  bottom: 0;
}
.panel#downloads > header {
  display: none;
}
.panel#downloads > .download-editor {
  display: none;
}*/

/* 100% width panels for narrow windows */
@media (max-width: 700px) {
    #panels-container.overlay:not(.icons) .panel-group {
        width: calc(100vw - 34px) !important;
    }
    #panels-container.overlay:not(.icons) .panel-collapse-guard {
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100%;
    }
}

/* Minimize panel when not used */
/*#panels-container.icons:not(:hover) {
    width: 1px !important;
}
#panels-container.icons:not(:hover) > * {
    display: none;
}*/