@charset "UTF-8";

#tabs-container.left:not(:hover),
#tabs-container.right:not(:hover) {
    width: 30px !important;
}
#tabs-container.left, #tabs-container.right {
    position: absolute;
    top: 0;
    bottom: 0;
}
#tabs-container.left {
    left: 0;
}
#tabs-container.right {
    right: 0;
}
#browser.tabs-right #panels-container.right:not([style="width: 0px;"]) {
    right: 31px;
}
#browser.tabs-left #panels-container.left:not([style="width: 0px;"]) {
    left: 31px;
}
#panels-container.right ~ #tabs-container.right,
#panels-container.left ~ #tabs-container.left {
    z-index: 3;
}

#browser.tabs-left #webview-container {
    margin-left: 31px;
}
#browser.tabs-right #webview-container {
    margin-right: 31px;
}

#tabs-container.left .tab-strip::-webkit-scrollbar,
#tabs-container.right .tab-strip::-webkit-scrollbar {
    width: 5px;
}
