@charset "UTF-8";

/* Show only address when not focused-within */
.UrlBar:not(:focus-within) {
    height: 20px;
}
.UrlBar:not(:focus-within) > :not(.UrlBar-AddressField) {
    display: none;
}
.UrlBar:not(:focus-within) .UrlBar-AddressField {
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    font-size: 12px;
}
.UrlBar:not(:focus-within) .UrlBar-AddressField > :not(.UrlBar-UrlFieldWrapper):not(.SiteInfoButton) {
    display: none;
}
.UrlBar:not(:focus-within) .UrlBar-AddressField > .UrlBar-UrlFieldWrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.UrlBar:not(:focus-within) .UrlBar-AddressField > .UrlBar-UrlFieldWrapper *,
.UrlBar:not(:focus-within) .UrlBar-AddressField > .SiteInfoButton {
    height: 100%;
}
