@charset "UTF-8";

/* Use with /js/browser_bg_image.js and /js/window_size_to_css.js */

body.-mod-acrylic #app {
  background-image: var(--startpageBgImage);
  background-color: var(--startpageBgColor);
  background-size: var(--startpageBgSize);
  background-repeat: var(--startpageBgRepeat);
}
body.-mod-acrylic.-mod-wallpaper-sync #app {
  background-size: calc(var(--screenWidth)  * (1 / var(--vivUIZoom)) * 1px)
                   calc(var(--screenHeight) * (1 / var(--vivUIZoom)) * 1px)
                   !important;
  background-position: calc((0 - var(--windowLeft)) * (1 / var(--vivUIZoom)) * 1px)
                       calc((0 - var(--windowTop))  * (1 / var(--vivUIZoom)) * 1px);
}
body.-mod-acrylic #browser {
  /*backdrop-filter: blur(3px);*/
  background: transparent !important;
  background-color: transparent !important;
}
body.-mod-acrylic .NotesEditor-Editor,
body.-mod-acrylic .NotesEditor-MDRender {
  backdrop-filter: blur(2px);
}
body.-mod-acrylic .mosaic,
body.-mod-acrylic .startpage,
body.-mod-acrylic .startpage .manager,
body.-mod-acrylic .vivaldi-settings .settings-content,
body.-mod-acrylic .inner,
body.-mod-acrylic #main,
body.-mod-acrylic #webview-container,
body.-mod-acrylic .panel-group,
body.-mod-acrylic .NotesEditor-Editor,
body.-mod-acrylic .NotesEditor-MDRender,
body.-mod-acrylic .toolbar,
body.-mod-acrylic #webpage-stack > .webpageview {
  background: transparent !important;
  background-color: transparent !important;
}
body.-mod-acrylic #switch,
body.-mod-acrylic .toolbar-statusbar,
body.-mod-acrylic .vivaldi-settings,
body.-mod-acrylic .vivaldi-settings .settings-sidebar,
body.-mod-acrylic .startpage .manager > div,
body.-mod-acrylic .addressfield,
body.-mod-acrylic #header,
body.-mod-acrylic .welcome-wrapper,
body.-mod-acrylic .notes-editor,
body.-mod-acrylic #browser.address-bottom:not(.color-behind-tabs-on) .toolbar-statusbar,
body.-mod-acrylic #browser.address-bottom.color-behind-tabs-on .toolbar-statusbar,
body.-mod-acrylic #notes-panel .no-notes {
  background:  var(--colorBgAlphaHeavy) !important;
  background-color:  var(--colorBgAlphaHeavy) !important;
}
body.-mod-acrylic .toolbar-mainbar {
  color: var(--colorFg) !important;
}
body.-mod-acrylic .toolbar-mainbar .button-toolbar > button:hover,
body.-mod-acrylic .toolbar-mainbar .button-toolbar > button:active {
  background-color: var(--colorBgDarker) !important;
}
body.-mod-acrylic .vivaldi-tree,
body.-mod-acrylic .panel > header {
  background-color: var(--colorBgAlpha) !important;
}

/* Keep the accent color */
body.-mod-acrylic .color-behind-tabs-off .toolbar-addressbar,
body.-mod-acrylic .color-behind-tabs-off .tab.active {
  background: var(--colorAccentBgAlpha) !important;
  color: var(--colorAccentFg) !important;
}
body.-mod-acrylic .color-behind-tabs-off .toolbar-addressbar > .toolbar {
  color: var(--colorAccentFg) !important;
}
body.-mod-acrylic .color-behind-tabs-off #tabs-container {
  background: var(--colorBgAlphaHeavier) !important;
  color: var(--colorFg) !important;
}
body.-mod-acrylic .color-behind-tabs-off .HiddenToggleExtensionIcon {
  background-color: var(--colorAccentBgAlpha) !important;
}
body.-mod-acrylic .color-behind-tabs-off .toolbar-addressbar > .toolbar .button-toolbar > button:hover,
body.-mod-acrylic .color-behind-tabs-off .toolbar-addressbar > .toolbar .button-toolbar > button:active,
body.-mod-acrylic .color-behind-tabs-off .button-circularimage.profile-popup > button:hover,
body.-mod-acrylic .color-behind-tabs-off .button-circularimage.profile-popup > button:active {
  background-color: var(--colorAccentBgDarker) !important;
}

body.-mod-acrylic .color-behind-tabs-on .tab.active {
  background: var(--colorBgAlphaHeavy) !important;
  color: var(--colorFg) !important;
}
body.-mod-acrylic #browser.color-behind-tabs-on {
  color: var(--colorFg) !important;
}
body.-mod-acrylic .color-behind-tabs-on #tabs-container {
  background: var(--colorAccentBgAlphaHeavy) !important;
  color: var(--colorAccentFg) !important;
}
body.-mod-acrylic .color-behind-tabs-on .tab:not(.active) {
  background: var(--colorAccentBgAlpha) !important;
  color: var(--colorAccentFg) !important;
}
body.-mod-acrylic .color-behind-tabs-on .HiddenToggleExtensionIcon {
  background-color: var(--colorBgAlphaHeavy) !important;
}
body.-mod-acrylic .color-behind-tabs-on .toolbar-addressbar > .toolbar .button-toolbar > button:hover,
body.-mod-acrylic .color-behind-tabs-on .toolbar-addressbar > .toolbar .button-toolbar > button:active,
body.-mod-acrylic .color-behind-tabs-on .button-circularimage.profile-popup > button:hover,
body.-mod-acrylic .color-behind-tabs-on .button-circularimage.profile-popup > button:active {
  background-color: var(--colorBgDarker) !important;
}

/* Private windows */
body.-mod-acrylic .private-intro {
  background: var(--colorBgAlphaHeavy);
}
body.-mod-acrylic .private .toolbar-addressbar .addressfield,
body.-mod-acrylic .private .toolbar-addressbar .searchfield {
  border-color: var(--colorBgIntenser) !important;
  color: var(--colorFg) !important;
  fill: var(--colorFg) !important;
}

/* Make also tiled startpage transparent */
body.-mod-acrylic .webpageview.internal .devtools-container .webpage {
    visibility: hidden;
}
/* Quick commands */
body.-mod-acrylic .quick-command-container,
body.-mod-acrylic input.quick-command-search-hint,
body.-mod-acrylic .quick-commands {
    background: transparent !important;
    background-color: transparent !important;
}
body.-mod-acrylic .quick-commands .quick-command[data-selected] {
    background: var(--colorHighlightBgAlpha) !important;
    background-color: var(--colorHighlightBgAlpha) !important;
}
body.-mod-acrylic .qc-modal > div {
    background: var(--colorBgAlphaHeavy) !important;
    background-color: var(--colorBgAlphaHeavy) !important;
    backdrop-filter: blur(5px);
}

/* Keyboard shortcuts cheat sheet */
body.-mod-acrylic #modal-bg.show-keyboard-shortcuts-modal-top > div {
    background-color: var(--colorBgAlphaHeavy);
    backdrop-filter: blur(2px);
}
body.-mod-acrylic .show-keyboard-shortcuts-modal-top .category.hide {
    background-color: var(--colorBgAlphaHeavier);
}
body.-mod-acrylic .show-keyboard-shortcuts-modal-top .keyboardShortcutsWrapper header {
    border-bottom-color: var(--colorBgAlphaHeavier);
}
body.-mod-acrylic .show-keyboard-shortcuts-modal-top .category.hide:hover {
    background-color: var(--colorBgAlphaHeavy);
}
body.-mod-acrylic .show-keyboard-shortcuts-modal-top .category > button:focus {
    color: var(--colorFgIntense);
}

/* Image inspector */
/* (also make it an overlay) */
body.-mod-acrylic .image-inspector {
    background-color: var(--colorBgAlphaHeavy);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
