@charset "UTF-8";

/* Use with /js/browser_bg_image.js */

#app {
  background-image: var(--startpageBgImage);
  background-color: var(--startpageBgColor);
  background-size: var(--startpageBgSize);
  background-repeat: var(--startpageBgRepeat);
}
#browser {
  /*backdrop-filter: blur(3px);*/
  background: transparent !important;
  background-color: transparent !important;
}
/*#browser.theme-light {
  background: url("../resources/old_bg_alt_4.jpg");/*0,3,4,7*//*1,4,5*/
  /*background-size: cover;
  backdrop-filter: blur(10px);
}
#browser.theme-dark {
  background: url("chrome://vivaldi-data/local-image/391d5ab9-f606-4d42-9a03-d8ee254cdf90");/*../resources/(old_)bg_alt_x.jpg*//*2,6,7*//*1,2,4,5*//*wallpapers/green-wallpaper-11-jpg*/
  /*background-size: cover;
  backdrop-filter: blur(10px);
}*/
.notes-cardwrapper {
  backdrop-filter: blur(2px);
}
#tabs-container /*#main, /*.inner,
/*.vivaldi-settings .settings-content,
/*.startpage, .startpage .manager,*/ /*header*/ {
  /*background: transparent !important;*/
  background: var(--colorBgAlphaHeavier) !important;
  background-color: var(--colorBgAlphaHeavier) !important;
}
.mosaic, .startpage, .startpage .manager,
.vivaldi-settings .settings-content,
.inner, #main, #webview-container, .panel-group, .notes-editor, .toolbar, #webpage-stack > .webpageview {
  background: transparent !important;
  /*background-image: none !important;*/
  background-color: transparent !important;
}
.tab.active, .toolbar-addressbar, #switch,
.toolbar-statusbar, .vivaldi-settings,
.vivaldi-settings .settings-sidebar, .startpage .manager > div,
.addressfield, #header, .welcome-wrapper, .notes-cardwrapper,
#browser.address-bottom:not(.color-behind-tabs-on) .toolbar-statusbar,
#browser.address-bottom.color-behind-tabs-on .toolbar-statusbar {
  background:  var(--colorBgAlphaHeavy) !important;
  background-color:  var(--colorBgAlphaHeavy) !important;
}
.toolbar-addressbar, .toolbar-mainbar {
  color: var(--colorFg) !important;
}
.toolbar-mainbar .button-toolbar > button:hover,
.toolbar-mainbar .button-toolbar > button:active {
  background-color: var(--colorBgDarker) !important;
}
.vivaldi-tree, .panel > header {
  background-color: var(--colorBgAlpha) !important;
}
.private-intro, #notes-panel .no-notes {
  background: var(--colorBgAlphaHeavy);
}
.private .toolbar-addressbar .addressfield,
.private .toolbar-addressbar .searchfield {
  border-color: var(--colorBgIntenser) !important;
  color: var(--colorFg) !important;
  fill: var(--colorFg) !important;
}
/* Make also tiled startpage transparent */
.webpageview.internal .devtools-container .webpage {
    visibility: hidden;
}
/* Quick commands */
.quick-command-container,
input.quick-command-search-hint,
.quick-commands {
    background: transparent !important;
    background-color: transparent !important;
}
.quick-commands .quick-command[data-selected] {
    background: var(--colorBgAlphaHeavy) !important;
    background-color: var(--colorBgAlphaHeavy) !important;
}
.qc-modal > div {
    background: var(--colorBgAlphaHeavy) !important;
    background-color: var(--colorBgAlphaHeavy) !important;
    backdrop-filter: blur(2px);
}

#modal-bg.show-keyboard-shortcuts-modal-top > div {
    background-color: var(--colorBgAlphaHeavy);
    backdrop-filter: blur(2px);
}
.show-keyboard-shortcuts-modal-top .category.hide {
    background-color: var(--colorBgAlphaHeavier);
}
.show-keyboard-shortcuts-modal-top .keyboardShortcutsWrapper header {
    border-bottom-color: var(--colorBgAlphaHeavier);
}
.show-keyboard-shortcuts-modal-top .category.hide:hover {
    background-color: var(--colorBgAlphaHeavy);
}
.show-keyboard-shortcuts-modal-top .category > button:focus {
    color: var(--colorFgIntense);
}

/* Image inspector */
/* (also make it an overlay) */
.image-inspector {
    background-color: var(--colorBgAlphaHeavy);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
