@charset "UTF-8";

.startpage .speeddial .thumbnail-image {
	/* Use any of these (sorted from opaque to transparent):
		- var(--colorBg)
		- var(--colorFg)
		- var(--colorBgAlpha)
		- var(--colorBgAlphaHeavy)
		- var(--colorBgAlphaHeavier)
		- var(--colorFgAlpha)
		- transparent */
	background: transparent;
	background-color: var(--colorFgAlpha);
	border: none;
	box-shadow: none !important;
}
.dial-folder-icon {
	background: transparent;
}
