@charset "utf-8";

.toolbar-addressbar .bookmark-bar {
	height: 34px;
	border-top-width: 0;
	border-bottom-width: 0;
	order: 0;
	width: 700px;
	background: transparent;
}

.toolbar-addressbar .bookmark-bar button {
	background: transparent;
	color: inherit;
}
