#browser.win .window-buttongroup button.window-close { background: transparent !important; fill: inherit !important; }
#browser.win .window-buttongroup button:active.window-close {
  background-color: #973d3c !important;
  fill: #fff !important;
}
/* #browser.win .window-buttongroup button:hover.window-close {
  background-color: #c94f4d !important;
  fill: #fff !important;
} */

/* #browser .vivaldi span.burger-icon { margin-top: 2px; }
#browser .vivaldi span.application-icon { margin-top: 1px; } */

/* #pagetitle { color: var(--colorFg) !important; } */

/* #browser.win .window-buttongroup button svg { fill: var(--colorFg) !important; } */

/* #browser.win .window-buttongroup { right: 0 !important; } */

/*.application-icon svg { margin-left: -5px !important; margin-top: -4px !important; }
.vivaldi-v svg { margin-left: -5px !important; margin-top: -3px !important; }*/
/*.application-icon svg {
  height: 40%;
  width: 40%;
}*/


#header { min-height: 25px !important; }
.window-buttongroup { height: auto !important; }
.window-buttongroup button { height: 25px !important; width: 46px !important; padding: auto !important; }
#browser.win .window-buttongroup button.window-close:hover {
  /*background-color: #e3423e !important;*/
  background-color: #e72525 !important;
}
#browser .window-buttongroup button:hover {
  background-color: var(--colorBgLighter) !important;
}

.win #tabs-container.top { padding-right: 150px !important; }

.window-buttongroup button:not(.window-close) {
  order: 1;
}
#browser.win .window-buttongroup {
  right: unset !important;
  left: 0;
  /* height: auto; */
}
.application-icon {
  padding: 0 !important;
}
#titlebar button.vivaldi {
  left: 140px !important;
  right: unset !important;
}
#titlebar #pagetitle {
  padding-left: 180px !important;
  padding-right: 0 !important;
}
#header #tabs-container {
  padding-right: 0 !important;
  padding-left: 180px !important;
}

/* Disable header when there's only the menu button */
#browser.native:not(.tabs-top):not(.horizontal-menu) #header {
    display: none !important;
}