/*.speeddial .dial {
  position: absolute;
  left: 0;
  top: 0;
}*/
/*.speeddial .dial-columns .folder .thumbnail>.thumbnail-image { background: none !important; }*/
/*.dials .speeddial .thumbnail { opacity: 0.5; }*/
/*.speeddial .dial-columns .folder .thumbnail .thumbnail-image {
  box-shadow: none !important;
  border-width: 0;
  transition: all 0s ease 0s;
}*/
.startpage .startpage-navigation .startpage-navigation-group { border: 0 !important; }
/*.startpage .startpage-navigation:not(:hover) {
  transform: translateY(calc((var(--toolbarHeight) * -1.5) + 3px));
  opacity: 0;
}*/
.speeddial .dial-columns .folder .thumbnail .folder-flap { display: none; }
/*.speeddial .dial:last-of-type { margin-bottom: 60px; }*/
.startpage .startpage-navigation {
  box-shadow: none !important;
  background: transparent !important;
}
button.button-startpage { box-shadow: none !important; }
.startpage .speeddial .thumbnail {
  background-color: var(--colorFgAlpha);
}
.startpage .thumbnail-image {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
/*.dials .dial:not(.dragging):hover .thumbnail-image { transform: none !important; }*/
button.button-startpage:after, button.button-startpage.active, button.button-startpage:active {
  background: transparent !important;
}
.dial-folder-icon {
  background: transparent;
}
.startpage .startpage-navigation button:focus { background: transparent !important; }
.startpage .thumbnail-image {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center !important;
}
.startpage .startpage-navigation .startpage-navigation-group:nth-of-type(2) { display: none; }



.dials { margin: 0 !important; }
.dial-columns {
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  text-align: center;
}
.speeddial .dial {
  position: initial !important;
  transform: none !important;
  display: inline-block !important; /* Before 2.4 update it was inline-flex */
  /*margin: 10px;*/
  /*height: auto !important;
  width: auto !important;*/
  vertical-align: top;
}
/*.speeddial .dial .thumbnail {
  max-height: 120px !important;
  height: 120px !important;
  width: 147px !important;
}
.speeddial .dial .editable-title-container {
  max-width: 147px;
}
.dials .dial .preview .thumbnail-image {
  min-width: 45%;
  min-height: 45%;
  max-width: 45%;
  max-height: 45%;
}
.dials .dial .preview .thumbnail-image:only-child {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}*/
.speeddial .dial:last-of-type {
  margin-bottom: 0 !important;
}
.startpage .startpage-folder-navigation { margin: 10px 0 !important; }

.sdwrapper .iconmenu-container.searchfield { margin: 5px auto !important; }

.startpage .startpage-content .sdwrapper::-webkit-scrollbar,
.startpage .startpage-content .sdwrapper::-webkit-scrollbar-track,
.startpage .startpage-content .sdwrapper::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
}
.startpage .startpage-content .sdwrapper::-webkit-scrollbar-button {
  display: none;
}