@charset "UTF-8";

/* Tab bar as overlay with favicons */

#tabs-tabbar-container.bottom {
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 0 !important;
    border-radius: var(--radius);
    background: var(--colorBgAlphaHeavy) !important;
    backdrop-filter: blur(10px);
}
#tabs-container.bottom,
#tabs-subcontainer.bottom.visible {
    width: auto;
    padding: 0 !important;
    border: none !important;
    border-radius: var(--radius);
    margin: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    /* Need this to make the tabs display */
    min-width: 60px;
}
#tabs-container.bottom > .toolbar-tabbar,
#tabs-subcontainer.bottom.visible > .toolbar-tabbar {
    display: none;
}
#tabs-tabbar-container.bottom .tab-position {
    transform: none !important;
    position: unset !important;
    width: 30px !important;
    height: 30px !important;
}
#tabs-tabbar-container.bottom .tab-strip {
    display: block;
}
#tabs-tabbar-container.bottom .tab-strip > * {
    display: inline-block;
    vertical-align: middle;
}
#tabs-tabbar-container.bottom .toolbar-tabbar > .button-toolbar {
    position: unset !important;
}
#tabs-tabbar-container.bottom .tab {
    margin: 0 !important;
    border: none !important;
    border-radius: var(--radius) !important;
    background: transparent !important;
}
#tabs-tabbar-container.bottom .tab .tab-header {
    margin: 0 !important;
}
#tabs-subcontainer.bottom.visible .tab.active .tab-header {
    padding-top: 4px !important;
}
#tabs-tabbar-container.bottom .tab.active {
    background: var(--colorAccentBg) !important;
}
#tabs-tabbar-container.bottom .tab-header > :not(.favicon) {
    display: none !important;
}
#tabs-tabbar-container.bottom .tab-group-indicator {
    bottom: 0;
}
#tabs-tabbar-container.bottom .tab-group-indicator .tab-indicator {
    border-width: 0;
    height: 3px;
}
/* Those Chrome-like corners are just annoying */
#tabs-tabbar-container.bottom .tab::before,
#tabs-tabbar-container.bottom .tab::after {
    display: none;
}
