.application-icon svg path:first-of-type {
	d: path('M18.6 3.4C17.1 2 14.9 2 11 2S4.9 2 3.4 3.4C2 4.9 2 7.1 2 11s0 6.1 1.4 7.6C4.9 20 7.1 20 11 20s6.1 0 7.6-1.4C20 17.1 20 14.9 20 11s0-6.1-1.4-7.6zm-2.2 5.2l-4.2 7.2c-.3.4-.6.7-1.1.8-.6 0-1-.2-1.3-.7-.9-1.5-1.7-3-2.6-4.5-.5-.9-1.1-1.8-1.6-2.8-.6-.9 0-2 1.1-2.1.6 0 1 .2 1.3.7.4.7.8 1.3 1.2 2 .3.5.6 1 .8 1.5.4.7 1 1.1 1.8 1.1 1.2.1 2.2-.8 2.4-2v-.2c0-.4-.1-.7-.2-1-.4-.9 0-1.8 1-2 .8-.2 1.6.4 1.7 1.2 0 .2-.1.5-.3.8z');
	fill: inherit/*var(--colorFg)*/ !important;
}
.application-icon svg path:last-of-type {
	display: none;
}
/*.application-icon svg path {
  d: path("M 20.354173,4.8706031 13.176735,17.314938 A 2.3924794,2.3924794 0 0 1 11.197345,18.623057 2.289207,2.289207 0 0 1 8.9253504,17.418211 C 7.4106864,14.819187 5.913236,12.254586 4.4157847,9.603925 L 1.6618517,4.8361788 A 2.4096915,2.4096915 0 0 1 3.6240292,1.2044288 2.3064192,2.3064192 0 0 1 5.8615998,2.4436986 L 7.8754144,5.8861161 C 8.3573509,6.7122966 8.822078,7.6073245 9.3212281,8.3818671 A 3.7866581,3.7866581 0 0 0 12.488252,10.344045 3.8555065,3.8555065 0 0 0 16.550304,6.9016304 V 6.5057509 A 4.0276272,4.0276272 0 0 0 16.137214,4.7845429 2.4096915,2.4096915 0 1 1 20.646777,3.2870915 2.512964,2.512964 0 0 1 20.354173,4.8706031 Z") !important;
  fill: var(--colorFg);
}*/
/*.application-icon svg path[d="M16.42 8.64l-4.17 7.23a1.39 1.39 0 0 1-1.15.76 1.33 1.33 0 0 1-1.32-.7c-.88-1.51-1.75-3-2.62-4.54l-1.6-2.77A1.4 1.4 0 0 1 6.7 6.51a1.34 1.34 0 0 1 1.3.72l1.17 2c.28.48.55 1 .84 1.45a2.2 2.2 0 0 0 1.84 1.14 2.24 2.24 0 0 0 2.36-2v-.23a2.34 2.34 0 0 0-.24-1 1.4 1.4 0 1 1 2.62-.87 1.46 1.46 0 0 1-.17.92z"] {
  fill: var(--colorAccentBg) !important;
}
.application-icon svg path[d="M11 20c3.94 0 6.14 0 7.57-1.43S20 14.94 20 11s0-6.14-1.43-7.57S14.94 2 11 2 4.86 2 3.43 3.43 2 7.06 2 11s0 6.14 1.43 7.57S7.06 20 11 20"] {
  fill: var(--colorFg) !important;
}*/
