.toolbar-extensions .button-toolbar.button-narrow button svg {
  width: 16px;
  height: 16px;
}
.toolbar-extensions .button-toolbar.button-narrow button svg path {
  d: path("M9.75,0h1.625v26h-1.625v-26zm3.25,0h1.625v26h-1.625v-26z");
}
